docutils>=0.3
kivy.deps.sdl2>=0.1.12; sys_platform == "win32"
kivy.deps.glew>=0.1.4; sys_platform == "win32"
Kivy>=1.9.0
openpyxl>=2.4.1
paramiko>=2.1.1
pypiwin32>=219; sys_platform == "win32"
winshell>=0.6; sys_platform == "win32"